@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/SFProDisplay-Medium.eot');
  src: url('../../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SFProDisplay-Medium.woff') format('woff'),
  url('../../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/SFProDisplay-Regular.eot');
  src: url('../../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Regular.eot');
  src: url('../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-Regular.woff') format('woff'),
  url('../../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Italic.eot');
  src: url('../../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-Italic.woff') format('woff'),
  url('../../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-SemiBold.eot');
  src: url('../../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-ExtraBold.eot');
  src: url('../../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}